<mat-toolbar>

    <span><b>SERVICIOS</b></span>

<span class="example-spacer"></span>

    <mat-chip-list aria-label="Dog selection">
        <mat-chip color="warn" selected (click)="goTo('hoy')">
        <mat-chip-avatar  style="background-color: white; color: red;">
          {{this.serviciosServices.getLength()}}
        </mat-chip-avatar>
        Hoy
        </mat-chip>
        <mat-chip color="primary" selected (click)="goTo('historial')">
        <mat-chip-avatar>
            <img class="history" src="https://www.pngitem.com/pimgs/m/307-3074531_history-icon-png-blue-png-download-transparent-png.png" alt="history"/>
        </mat-chip-avatar>
        Historial
        </mat-chip>
    </mat-chip-list>


</mat-toolbar>

    <router-outlet> </router-outlet>

