
<div class="container">
    <div>
      <h1 mat-dialog-title>Ver Usuario </h1>
  
        <div class="row" style="display: flex; justify-content:center; ">
            <img style="width: 150px;" src="{{data.image}}">
        </div>
  
      <div mat-dialog-content>
  
      <div class="row">
        <div class="sect sub">
          <h4 style="font-weight: 500;">Nombre:</h4>
          <p>{{data.name}}</p>
         </div>
         </div>

      <div class="row">
        <div class="sect sub">
          <h4 style="font-weight: 500;">Username:</h4>
          <p>{{data.username}}</p>
         </div>
         </div>

      <div class="row">
        <div class="sect sub">
          <h4 style="font-weight: 500;">Rol de usuario:</h4>
          <p>{{data.role}}</p>
         </div>
         </div>


        </div>
    </div>

  

<!-- <h1>Ver Usuario</h1>


    
    <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">

                <mat-label>Usuario</mat-label >
                <mat-label>{{data.username}}</mat-label>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">

            <mat-form-field appearance="fill" class="ancho" >
                <mat-label>Nombre Completo</mat-label>
                <input matInput autocomplete="off" formControlName="name">
              </mat-form-field>

        </mat-grid-tile>

       
        

        <mat-grid-tile [colspan]="1" [rowspan]="1" class="ancho">
            <button mat-button mat-dialog-close>Cerrar</button>
            
        </mat-grid-tile>

    </mat-grid-list> -->

    
   




