<div class="contenedor" >

  <mat-toolbar>

    <span>Lista de Tareas</span>

    <span class="example-spacer"></span>

    <button mat-raised-button color="primary" routerLink="/dashboard/new-task" >Nueva Tarea</button>



  </mat-toolbar>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z5"  >

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><b> Tarea </b></th>
      <td mat-cell *matCellDef="let element" (click)="ver(element)" class="title"><b> {{element.name}} </b></td>
    </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let element"> {{transform(element.description, [35])}} </td>
  </ng-container>


  <ng-container matColumnDef="assignments">
      <th mat-header-cell *matHeaderCellDef> Asignaciones </th>
      <td mat-cell *matCellDef="let element">
        <a *ngFor="let person of element.asignments">
          <a title="{{person.assignedTo.name}}, {{person.time}}:00">
            <img class="circle" src="{{person.assignedTo.image}}" height="40px" style="margin-right: 10px;">
            </a>

          </a>
</td>
    </ng-container>


    <ng-container matColumnDef="Acciones" >
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-raised-button color="warn"	(click)="ver(element)" style="margin-right: 15px;">Detalles</button>
      </td>
    </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div *ngIf="!Cargando" >

  <app-paginador [totalResults]="TotalResultados" [limitProducts]="20" ></app-paginador>

</div>


</div>
