<div class="contenedor">
  <mat-toolbar>
      <span>Registrar Nueva Tarea</span>
  </mat-toolbar>


  <mat-card style="margin-top: 20 px;" >
      <form [formGroup]="RegisForm" (ngSubmit)="registerTask()" class="form">


      <div class="col">
        <mat-form-field appearance="fill" class="ancho" >
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="ancho" >
          <mat-label>Descripción</mat-label>
          <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            formControlName="description"  ></textarea>
          <!-- <input matInput autocomplete="off" formControlName="description" > -->
        </mat-form-field>

        <div class="buttons">
          <button mat-raised-button style="margin-right: 20px;" routerLink="/dashboard/tareas/existentes">Volver</button>
          <button type="submit" mat-raised-button color="primary" >Registrar</button>

      </div>

    </div>

    <img src="/assets/img/task.png" style="width: 40%;" >



      </form>
  </mat-card>

</div>
