<div class="contenedor">


    <mat-toolbar>

      <span>Access Points</span>

      <span class="example-spacer"></span>

      <button mat-raised-button color="warn" routerLink="/dashboard/new-ap" >NUEVO AP</button>



    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z5"  >


      <ng-container matColumnDef="Etiqueta">
        <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
        <td mat-cell *matCellDef="let element"> {{element.etiqueta}} </td>
      </ng-container>


      <ng-container matColumnDef="Mac">
        <th mat-header-cell *matHeaderCellDef> Direccion Mac </th>
        <td mat-cell *matCellDef="let element"> {{element.mac}} </td>
      </ng-container>

      <ng-container matColumnDef="Serie">
        <th mat-header-cell *matHeaderCellDef> Num. de serie </th>
        <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
      </ng-container>

      <ng-container matColumnDef="Usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="Password">
        <th mat-header-cell *matHeaderCellDef> Contraseña </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="Modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>

      <ng-container matColumnDef="Ubicacion">
        <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones" >
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;">
          <a class="pointer" style="color:green;" matTooltip="Editar Computadora" (click)="editar(element)">  <mat-icon>edit</mat-icon> </a>
          </td>
        </ng-container>

           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


    <div *ngIf="!Cargando">

      <app-paginador [totalResults]="TotalResultados" [limitProducts]="20"  [value]='value'></app-paginador>

    </div>


</div>
