
<div class="container">
    <div>
      <h1 mat-dialog-title>Ver Departament </h1>
  
       
  
      <div mat-dialog-content>
  
      <div class="row">
        <div class="sect sub">
          <h4 style="font-weight: 500;">Departamento:</h4>
          <p>{{data.name}}</p>
         </div>
         </div>

      <div class="row">
        <div class="sect sub">
          <h4 style="font-weight: 500;">Ubicacion:</h4>
          <p>{{data.ubication}}</p>
         </div>
         </div>

      <div class="row">
        <div class="sect sub">
          <h4 style="font-weight: 500;">Encargado:</h4>
          <p>{{data.user.name}}</p>
         </div>
         </div>


        </div>
    </div>
